X-Repolib-Name: {{ apt_package.apt_package_name }}
Enabled: yes
Types: deb
URIs: {{ apt_package.apt_uris }}
Suites: {{ apt_suites }}
{% if apt_components %}
Components: {{ apt_components }}
{% endif %}
{% if apt_architectures %}
Architectures: {{ apt_architectures }}
{% endif %}
Signed-By: {{ local_processed_key_path }}
